@media (max-width: 319px) {
    .container {
        width: 100%;
    }
    
    .response {
      width: 100%;
     } 

        .logo_part {
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 0;
            width: 10%;
            padding-left: 10px;
            font-size: 10px;  
        }
        .center {
          margin: 0;
          position: absolute;
          top: 90%;
          left: 14%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }  

        .content {
         flex-direction: column;
          display: flex;
          gap:10px;

      }
        .text {
          width: 100%;
          margin: 0;
          padding-top: 15px;
          
         }
         .image {
          width: 100%;
          height: auto;
          margin: 0;
          padding-top: 15px;
         }
        
        .dropdown {
          display: flex;
        }
        .navbar {
          display: none;
        }
        p.design1 {
            font-size: 33px;
          }
        
          p.design2 {
            font-size: 14px; 
          }
          .button  {
          
          font-size: 13px;
          
         } 
    
         .response {
            width: 100%;
         }
     /* Header part end */
       /* .row_service {
    
    padding-top: 70px;
    padding-bottom: 50px;
    
    height: auto;
    overflow: hidden;
  } */
  .service6 {
    width: 100%;
    float: left;
    box-sizing: border-box;
    
  }

  /* .row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
  }
  .col-6 .col-sm-4 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
  } */

  .row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
  }
  
  .col-sm-4 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    border: 2px solid light rgb(194, 33, 33);
    padding-left: 10px;
  }
  /* p.girpra {
    font-size: 10px;
    padding-bottom: 0;
  } */
  p.girpra {
    font-size: 15px;
    padding-bottom: 0;
  }
  p.design11 {

    font-size: 15px;
  }
  .section4 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap:10px;
  }
  .sec {
    width: 100%;
    padding-bottom: 0px;
    padding-top: 40px;
   
  } 




  .double100 {
    display: flex;
    
    flex-direction: column;
  
   }
   .div100 {
    width: 100%;
}  
.grli5 {
    background-color: #53354a;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 350px;
    display: flex;
  flex-direction: column;
  
  }
  
  
  .image2 {
    width: 100%;
   
    height: 300px;
  }
  .image1{
    background-image: url(grilim.png);
    width: 100%;
    height: 350px;
   
   }
     
}
   
  
  @media (min-width: 320px) and (max-width: 576px) {
    .container {
        width: 100%;
    }
    
    .response {
      width: 100%;
     } 
        .logo_part {
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 0;
            width: 50%;
            padding-left: 20px;
            font-size: 16px;
          
            
        }
        
        .dropdown {
          display: flex;
        }
        .navbar {
          display: none;
        }
        p.design1 {
          margin-top: 10px;
            font-size: 25px;
          }
          
          p.design2 {
            font-size: 12px;
           
          }
          
         .button  {
      
         border-radius: 10px;
        font-size: 10px;
        
       padding: 10px;
         font-weight: 400;
       
       } 
         .center {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 40%;
         
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        } 

         .content {
          display: flex;
          flex-direction: column;
      }
         .text {
          width: 100%;
          margin: 0;
         padding-top: 15px;
         }
      
         .image {
          width: 100%;
          height: auto;
          margin: 0;
         padding-top: 15px;
         position: relative;
          
         }
         .content image button{
          top:100%;
          right:50%;
        }
          .image button{
            margin-top: 30%;
            background-color: #8b8b8b; 
           border: none;
           border-radius: 15px;
          font-size: 13px;
           font-family: 'Raleway', sans-serif; 
         padding: 10px;
           font-weight: 600;
           color: #ffffff;
           top:90%;
           right:30%;
           margin-left: 70px;
         } 
         .row {
          display: flex;
          
          flex-direction: column;
          width: 100%;
          height: auto;
         
        }
        .train {
          width: 100%;
         
        }
        .container text-center {
          display: flex;
          flex-direction: column;
        }
        .content1 {
          display: flex;
         
          flex-direction: column;
         
        }
         .text1 {
          width: 100%;
          margin: 0;
         padding-top: 10px;
          
         }
         .image0  {
          margin: 0;
         padding-top: 20px;
         right: 10%;
         padding-left: 10px;
         padding-right: 10px;
         padding-bottom: 20px;
         width: 100%;
         
         }
         .center0 {
          margin: 0;
          position: absolute;
          top: 40%;
          left:7%;
          margin-left: 50px;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        } 

        .content_mbi {
          display: flex;
          flex-direction: column;
      }
      .text{
        width: 100%;
        height: auto;
      }
      .from{
        width: 100%;
        height: auto;
      }
      .design_bmi{
        padding-top: 20px;
        color: #ffffff;
        font-size: 20px;
        font-family: 'Raleway', sans-serif; 
         font-weight: 600;
         margin-left: 10px;
      
       }
       .design_bmi2{
        padding-top: 15px;
        color: #ffffff;
        font-size: 20px;
        font-family: 'Raleway', sans-serif; 
         font-weight: 600;
         margin-left: 10px;
       }
       .design_bmi1{
padding-top: 5px;
        font-size: 10px;
        font-family: 'Raleway', sans-serif; 
         font-weight: 400;
         color: #cacaca;
         margin-left: 10px;
       }
       .from_part button  {
        border: 1px solid #15a3f9;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: transparent;
        color:#ffffff;
        font-size: 13px;
      } 
      .text0 {
        width: 80%;
        margin: 0;
       padding-top: 15px;
       margin-top: 60%;
      
       }
      .work_image1a {
        display: flex;
        flex-direction: column;
       }
       .work_image2a {
        display: flex;
       flex-direction: column;
        
       }
       .image_hold {
  
        background-color: #39393a;
        border-radius: 5px;
       
      }
      p.design10 {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: 400;
        text-align: left;
        color: #ffffff;
      }
      
      p.design20 {
      
      
        font-family: 'Raleway', sans-serif;
        text-align: left;
        margin-bottom: 10px;
        font-size: 10px;
        font-weight: 400;
        color: #cec7c7;
      }
       .div751a {
      
       width:80%;
       margin-left: 10%;
       margin-right: 10%;
      
       }

       .div752a {
        width:80%;
        margin-left: 10%;
        margin-right: 10%;
       
       
        }.div753a {
      
         
          width:80%;
       margin-left: 10%;
       margin-right: 10%;
          }
          .div755a {
            width:80%;
            margin-left: 10%;
            margin-right: 10%;
           
           
            }.div756a {
              width:80%;
              margin-left: 10%;
              margin-right: 10%;
             
             
              }.div757a {
                width:80%;
                margin-left: 10%;
                margin-right: 10%;
                
               
                }
                .section4 {
                  display: flex;
                  flex-direction: column;
                  gap:10px;
                }
                .sec {
                  width: 100%;
                  padding-bottom: 30px;
                  padding-top: 40px;
                 
                } 



  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    p.design11 {
   
        font-size: 20px;
      }
    
      .button  {
      
      font-size: 13px;
      
     } 
     p.design1 {
      margin-top: 10px;
        font-size: 25px;
      }
      
      p.design2 {
        font-size: 12px;
       
      }
      
     .button  {
  
     border-radius: 10px;
    font-size: 10px;
    
   padding: 10px;
     font-weight: 400;
   
   } 
     .center {
      margin: 0;
      position: absolute;
      top: 60%;
      left: 27%;
     
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    } 

    .content image button{
      top:60%;
      right:30%;
    }
      .image button{
        margin-top: 1%;
        background-color: #8b8b8b; 
       border: none;
       border-radius: 15px;
      font-size: 13px;
       font-family: 'Raleway', sans-serif; 
     padding: 10px;
       font-weight: 600;
       color: #ffffff;
       top:70%;
       right:50%;
       margin-left: 80px;
     } 
    
  .content {
    width: 100%;
  }
    .logo_part {
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 0;
      width: 70%;
      padding-left: 5px;
      
  }
     
     .manues {
        display: flex;
        font-size: 10px;
        font-style: bold;
    
      }
      .manues li a {
        padding-right: 3px;
       
        font-size: 10px;
        padding-top: 20px;
    
        margin: 0;
       }
   /* Header part end */
   p.ee {
    font-size: 12px;
   
  }
  p.ey {
    font-size: 8px;
  }

  .service6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    
  }
  
   
  /* .row_service {
    width: 100%;
  }
  .container text-center {
    width: 100%;
  } */
  /* .row_service {
    
    padding-top: 70px;
    padding-bottom: 50px;
    
    height: auto;
    overflow: hidden;
  } */
  /* .service6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    
  } */

  .double100 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    gap: 7px;
   }
   .div100 {
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    gap: 5px;
   }
   p.Nobis {
    font-family: 'Raleway', sans-serif; 
    font-size: 17px;
    font-weight: 400;
    color: #2d3033;
  }
  p.pp {
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 0;
  }
  p.ex {
    font-family: 'Raleway', sans-serif; 
    font-size: 10px;
    font-weight: 400;
    color: #6c7279;
    padding-top: 2px;
    padding-bottom: 0;
    
  
  }
  p.girpra {
    font-size: 15px;
    padding-bottom: 0;
  }
  .div751 {
  
   width:25%;
   height: 150px;
   }
   .div752 {
   
   width:25%;
   height: 150px;
   }
   .div753 {

   width:25%;
   height: 150px;
   }
   .div754 {
  
   width:25%; 
   height: 150px;
   }
   .div755 {
    
   width:25%;
   height: 150px;
   }
   .div756 {
   
   width:25%;
   height: 150px;
   }
   .div757 {
    height: 150px;
  
   width:25%;
   }
   .div758 {
    height: 150px;
 
   width:25%;
   }

  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .div751 {
        background-image: url(hi3.png);
        background-position: center; /* Center the image */
       background-repeat: no-repeat; /* Do not repeat the image */
       background-size: cover;
       width:25%;
       height: 150px;
       }
       .div752 {
        background-image: url(hello2.png);
        background-position: center; /* Center the image */
       background-repeat: no-repeat; /* Do not repeat the image */
       background-size: cover;
       width:25%;
       height: 150px;
       }
       .div753 {
        background-image: url(hello1.png);
        background-position: center; /* Center the image */
       background-repeat: no-repeat; /* Do not repeat the image */
       background-size: cover;
       width:25%;
       height: 150px;
       }
       .div754 {
        background-image: url(pp5.png);
        background-position: center; /* Center the image */
       background-repeat: no-repeat; /* Do not repeat the image */
       background-size: cover;
       width:25%; 
       height: 150px;
       }
       .div755 {
        background-image: url(pp6.png);
        background-position: center; /* Center the image */
       background-repeat: no-repeat; /* Do not repeat the image */
       background-size: cover;
       width:25%;
       height: 150px;
       }
       .div756 {
        background-image: url(pp7.png);
        background-position: center; /* Center the image */
       background-repeat: no-repeat; /* Do not repeat the image */
       background-size: cover;
       width:25%;
       height: 150px;
       }
       .div757 {
        height: 150px;
        background-image: url(pp8.png);
        background-position: center; /* Center the image */
       background-repeat: no-repeat; /* Do not repeat the image */
       background-size: cover;
       width:25%;
       }
       .div758 {
        height: 150px;
        background-image: url(pp11.png);
        background-position: center; /* Center the image */
       background-repeat: no-repeat; /* Do not repeat the image */
       background-size: cover;
       width:25%;
       }
   
       .double100 {
        display: flex;
        justify-content: space-between;
        margin: 0;
        gap: 7px;
       }
       .div100 {
        width: 50%;
        box-sizing: border-box;
        margin: 0;
        gap: 5px;
       }
       p.Nobis {
        font-family: 'Raleway', sans-serif; 
        font-size: 17px;
        font-weight: 400;
        color: #2d3033;
      }
      p.pp {
        font-size: 13px;
        padding-top: 2px;
        padding-bottom: 0;
      }
      p.ex {
        font-family: 'Raleway', sans-serif; 
        font-size: 10px;
        font-weight: 400;
        color: #6c7279;
        padding-top: 2px;
        padding-bottom: 0;
      
      }
    /* .section4 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap:10px;
      }
      .sec {
        width: 50%;
        padding-bottom: 30px;
        padding-top: 40px;
       
      }  */
    p.design11 {
 
       
        font-size: 20px;
       
      }
      
    p.design1 {
   
        font-size: 47px;
      }
      
      p.design2 {
        font-size: 18px;
       
      }
      .button  {
      
      font-size: 13px;
      
     } 

     .response {
        width: 80%;
     }
      /* Header part end */
      p.ee {
        font-size: 12px;
       
      }
      p.ey {
        font-size: 11px;
      }


  }
  /* medium Destop or laptop */
  @media (min-width: 993px)  and (max-width: 1200px) {
 
    p.design1 {
   
        font-size: 50px;
        margin-left: 0px;
      }
      
      p.design2 {
        font-size: 14px;
        margin-left: 0px;
      
      }
      .button  {
      
      font-size: 13px;
     } 

     .response {
        width: 80%;
     }
     .design_bmi{
      padding-top: 40px;
      color: #ffffff;
      font-size: 20px;
      font-family: 'Raleway', sans-serif; 
       font-weight: 600;
       margin-left: 0px;
    
     }
     .design_bmi2{
      padding-top: 40px;
      padding-left: 60px;
      color: #ffffff;
      font-size: 20px;
      font-family: 'Raleway', sans-serif; 
       font-weight: 600;
       margin-left: 0px;
    
     }
     .design_bmi1{
      
      font-size: 14px;
      font-family: 'Raleway', sans-serif; 
       font-weight: 400;
       color: #cacaca;
       margin-left: 75px;
       padding: 5px;
       padding-left: 0px;
     }
     p.design10 {
      margin: 1px 5px 15px 0px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-align: left;
      color: #ffffff;
    }
    
    p.design20 {
    
    
      font-family: 'Raleway', sans-serif;
      text-align: left;
      
      font-size: 16px;
      font-weight: 400;
      color: #cec7c7;
      margin-bottom: 5px;
    }
 /* Header part end */


    }





  @media (min-width: 1201px)  and (max-width: 1400px) {
  
 
  }
  
  
  @media (max-width: 1401px) {
  
   
    
  
  }
  